[MASTER]
ignore-paths=
    ros2_ws/install/.*,
    ros2_ws/build/.*,
    ros2_ws/log/.*,
    ros2_ws/src/.*/launch/.*

[MESSAGES CONTROL]
disable=
    missing-docstring,
    import-error,
    no-member,
    too-few-public-methods,
    too-many-instance-attributes,
    invalid-name,
    broad-exception-caught,
    no-name-in-module

[FORMAT]
max-line-length=120
